apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-cloudwatch
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  cloudwatch-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: CloudWatch
        type: cloudwatch
        access: proxy
        jsonData:
          authType: default
          defaultRegion: us-east-1
        editable: true
